.article-detail{
	margin: 120px auto;
    max-width: 60%;
}


.detail-article-head {
	margin: 50px 0 5px 0;
    font-weight: 300;
    color: #000;
    text-align: center
}

.detail-date{
	font-size: 13px;
    color: #717171;
    text-align: center
}

.avatar{
	width: 32px;
	height: 32px;
	border-radius: 20px
}

.username{
	margin-left: 40px
}

.comment-date{
	margin-left: 10px;
	font-size: 13px;
    color: #777777;
}

.comment{
	margin-bottom: 20px
}

#comment-btn{
	background-color: #313131;
    color: white;
}

.pure-form{
	margin-top: 30px;
	margin-bottom: 85px
}

.pure-button.pure-input-1-6{
	margin-top: 10px;
	float: right;margin-left: 8px
}

.reply-btn{
	width: 27px;
	cursor: pointer;
	font-size: 13px;
    color: #929292;
}

.reply-btn:hover,
.reply-btn:focus{
	font-size: 13px;
    color: black;
}

.pure-form.reply{
	margin-top: 0;
	margin-bottom: 80px
}

.rep{
	font-size: 13px;
	color: #929292;
	margin-right: 4px
}