a{
    cursor: pointer;
}

p{
    color: #1f1f1f;
    margin: 0px
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
#app,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


/*切换文章*/
.detail-fade-enter-active {
  transition: all .5s ease;
}
.detail-fade-leave-active {
  transition: all .5s ease;
}
.detail-fade-enter, .detail-fade-leave-active{
  opacity: 0;
}

/*打开菜单*/
.menu-slide-enter-active {
  transition: all .5s ease;
}
.menu-slide-leave-active {
  transition: all .5s ease;
}
.menu-slide-enter {
  transform: translateX(-30px);
  opacity: 0;
}
.menu-slide-leave-active {
  transform: translateX(-100px);
  opacity: 0;
}

#top-menu{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
}

#app {
    position: relative;
    left: 0;
    padding-left: 0;
}

#main{

}

.articles{
    margin: 40px auto 30px auto;
    padding: 0 2em;
    max-width: 800px;
    line-height: 1.6em;
}

.article {
    margin: 0px auto 30px auto;
    border-bottom: 1px solid #d6d6d6;
}

.article-content{
    display: inline-block;
    height: 150px;
    min-width: 600px;
    flex: 1
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }


.article-head {
    margin: 50px 0 5px 0;
    color: #333333;
    font-size: 23px;
    text-decoration: none
}
.article-head:hover,
.article-head:focus {
    color: black;
}

.date{
    font-size: 13px;
    color: #717171;
}

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 150px;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
}

#menu .pure-menu-link{
    color: #c5c5c5;
    font-size: 18px
}

#menu li a:hover,
#menu li a:focus {
    background: #333;
}

 

.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: white;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #e2e2e2;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: black;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }



@media (min-width: 48em) {
  .menu-link {
    display: none
  }
}

@media (max-width: 48em) {
  #top-menu{
    display: none
  }
}

#about-icon {
  color: #676565;
  text-decoration: none;
}

#about-icon:hover,
#about-icon:focus,{
  color: black;
}

.pagination{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.choze{
    background-color: #EEEEEE
}


.article-image {
    width: 200px;
    height: 140px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: right;
}