img{
    max-width: 800px;
}


a{
    cursor: pointer;
}

p{
    color: #1f1f1f;
    margin: 0px;
    font-size: 18px
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
#app,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


/*切换文章*/
.detail-fade-enter-active {
  transition: all .5s ease;
}
.detail-fade-leave-active {
  transition: all .5s ease;
}
.detail-fade-enter, .detail-fade-leave-active{
  opacity: 0;
}

/*打开菜单*/
.menu-slide-enter-active {
  transition: all .5s ease;
}
.menu-slide-leave-active {
  transition: all .5s ease;
}
.menu-slide-enter {
  transform: translateX(-30px);
  opacity: 0;
}
.menu-slide-leave-active {
  transform: translateX(-100px);
  opacity: 0;
}

#top-menu{
    display: block;
    width: 62%;
    margin: auto;
    border-bottom: 3px #a5a5a5 solid;
    padding-bottom: 30px;
}

#top-menu-font{
    color: black;
    text-decoration:none;
    font-size: 22px;
    margin: 0px 10px 0 10px;
    position: relative;
    padding: 0px 15px 0 15px
}

#top-menu-font:after{
    content: '';
    position: absolute;
    z-index: -1;
    height: 2px;
    bottom: 0;
    left: 51%;
    right: 51%;
    background: black;
    transition-duration: 0.1s;
    transition-property: right, left;
    transition-timing-function: ease-out;
}

#top-menu-font:hover::after{
    left: 0;
    right: 0
}


.pure-button.click-btn{
    position: absolute;
    right: 80px;
    top: 240px;
    background-color: rgba(0, 128, 0, 0);
    color: white;
    border: 2px solid rgba(100, 220, 180, 0.99);
    border-radius: 8px;
}

#app {
    position: relative;
    left: 0;
    padding-left: 0;
}


.articles{
    margin: 40px auto 30px auto;
    padding: 0 2em;
    max-width: 60%;
    line-height: 1.6em;
}

.article {
    margin: 0px auto 30px auto;
    border-bottom: 1px solid #EEEEEE;
    height: auto;
    padding-bottom: 10px;
    min-width: 580px
}

.article-content{
    padding-right: 50px;
    flex: 1;
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
    
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
 }
    .header h1 {
        margin: 0.4em 0;
        font-size: 4em;
        font-weight: 300;
        color: black
    }


.article-head {
    margin: 50px 0 5px 0;
    color: #333333;
    font-size: 23px;
    text-decoration: none;
    position: relative;
}


.article-head:after{
    content: '';
    position: absolute;
    z-index: -1;
    height: 2px;
    bottom: 0;
    left: 51%;
    right: 51%;
    background: #981e1e;
    transition-duration: 0.1s;
    transition-property: right, left;
    transition-timing-function: ease-out;
}

.article-head:hover::after{
    left: 0;
    right: 0
}

.article-head:hover,
.article-head:focus {
    color: black;
}

.date{
    font-size: 13px;
    color: #717171;
}

#read-more{
    font-size: 18px;
    color: #981e1e;
    text-decoration: blink;
}

#read-more:hover{
    text-decoration: underline;
}

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 150px;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
}

#menu .pure-menu-link{
    color: #c5c5c5;
    font-size: 18px
}

#menu li a:hover,
#menu li a:focus {
    background: #333;
}

 

.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: white;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #e2e2e2;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: black;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }



@media (min-width: 48em) {
  .menu-link {
    display: none
  }

}

@media (max-width: 48em) {
  #top-menu{
    display: none
  }

  .articles{
    max-width: 90%;
  }
}

#about-icon {
  color: #676565;
  text-decoration: none;
}

#about-icon:hover,
#about-icon:focus,{
  color: black;
}

.pagination{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.choze{
    background-color: #EEEEEE
}


.article-image {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    max-height: 140px;
    min-width: 120px
}

.home-tag{
    text-decoration: none;
    margin-top: 15px;
    border: 1px solid #7b7b7b;
    margin-right: 3px;
    border-radius: 5px;
    padding: 0 3px 0 3px;
    color: #444444;
    font-size: 13px;
    cursor: pointer;
}
.home-tag:hover,
.home-tag:focus{
    background-color: #3a3838;
    color: white;
    border: 1px solid #3a3838;
}