<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div id="app" :style="appSlide">
      <keep-live>
        <menu-comp v-show="menuShow" v-on:menuon="push" v-on:menuoff="pull"></menu-comp>
      </keep-live>
        <transition name="content-fade">
            <router-view v-on:showmenus="menuShowOn" v-on:offmenus="menuShowOff"></router-view>
        </transition>
    	
    </div>

    <script src="{% static 'js/build.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
  </body>
</html>
