<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/manage.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon/iconfont.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/marked.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
</head>
<body>
<div id="app" style="display: none;">
	<div id="layout" class="content pure-g" v-show="!writeModelShow">
        <!-- 左侧菜单栏-->
        <div id="nav" class="pure-u">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/#/" class="pure-menu-link">返回首页</a></li>
                    <li @click="logOut" class="pure-menu-item"><a class="pure-menu-link">退出</a></li>
                    <div class="menu-solid"></div>
                    <li @click="addNewArticle" class="pure-menu-item"><a class="pure-menu-link">新建文章</a></li>
                    <li @click="getArticleList" class="pure-menu-item"><a :class="{active: allArticleActive}" class="pure-menu-link">所有文章</a></li>
                    <li @click="getTag" class="pure-menu-item"><a class="pure-menu-link">所有标签 [[tagIcon]]</a></li>
                    <li @click="addTagBtn" v-show="newTag" class="pure-menu-item"><a class="pure-menu-link">新建标签</a></li>
                    <li v-show="tagInput" class="pure-menu-item"><input @keyup.enter="postTag" v-model="tagName" class="tag-input"></li>
                    <li style="margin-bottom: 10px" @click="delTagBtn" v-show="newTag" class="pure-menu-item"><a class="pure-menu-link">删除标签</a></li>

                    <li @click="clickTag(tag)" v-show="leftTagListShow" v-for="tag in tags" id="tag"><a :class="{active: tag.tag_active}" >[[tag.name]]</a><span v-show="delTagIcon" @click="deleteTag(tag.id)" class="tag-delete-icon">x</span></li>
                </ul>
            </div>
        </div>
        <!-- 中间文章列表栏 -->
        <div id="list" class="pure-u-1">
            <div @click="getArticleInfo(article)" v-for="article in articles" :class="{selected: article.article_active}" class="article-item">
                <h4 class="article-title">[[article.title]]</h4>
                 <span class="admin-date">发表于[[article.create_time]]</span>
                <p class="article-desc">
                    <span v-for="center_tag in article.tag">[[center_tag.name]] | </span>
                </p>
            </div>
        </div>
        

        <!-- 右侧编辑栏 -->
        <div id="editor-main" class="pure-u-1">
            <div class="article-content">
                <div v-show="msgShow" class="message animated fadeIn">[[msg]] 
                    <span @click="closeMsg" class="close-icon">x</span>
                </div>
                <div class="article-content-header">
                    <input v-model="article_info.title" class="article-input-title">
                </div>

                <div class="tool">
                    <a v-for="article_tag in article_info.tag" id="tool-tag">[[article_tag.name]] <span @click="deleteArtTag(article_tag.id)"> X</span></a>
                    <span @click="showAddArtTagLi" v-show="addArticleTagIcon" class="add-article-tag-icon" title="添加标签">+</span>

                    <div v-show="tagList" class="tag-box">
                        <span v-for="add_tag in articleTagList" ><a @click="choseTag(add_tag)" id="add-tag" :class="{chosetag:add_tag.choseTagActive}">[[add_tag.name]]</a></span>
                        <a class="button-success pure-button" @click="addArticleTags">确定</a>
                    </div>

                    <ul class="tool-right-btn" class="pure-menu-list">
                        <li @click="writeModelSwitch" id="tool-btn" class="pure-menu-item" title="写作模式"><a class="pure-menu-link"><i class="iconfont icon-write"></i></a></li>
                        <li v-show="postArticleBtn" @click="updateArticle" id="tool-btn" class="pure-menu-item" title="修改保存"><a href="#" class="pure-menu-link"><i class="iconfont icon-baocun"></i></a></li>
                        <li v-show="addNewArticleBtn" @click="addNewArticlePost" id="tool-btn" class="pure-menu-item" title="新建保存"><a class="pure-menu-link"><i class="iconfont icon-baocun"></i></a></li>
                        <li @click="deleteArticle" id="tool-btn" class="pure-menu-item" title="删除文章"><a href="#" class="pure-menu-link"><i class="iconfont icon-delete"></i></a></li>
                    </ul>

                </div>
                
                <div class="textarea-container">
                    <textarea v-model="article_info.content" id="article-textarea" class="article-textarea" :style="{height: (getscrollHeight-180) + 'px'}">
                    </textarea>
                </div>


            </div>
        </div>
    </div>
    <!-- 写作模式 -->
     <div v-show="writeModelShow" class="write-model" :style="{height: getscrollHeight + 'px'}">
        <div id="write-page" class="pure-u-1">

                <div class="article-content" style="border-left: 1px solid #dedede;">
                    <div v-show="msgShow" class="message animated fadeIn">[[msg]] <span @click="closeMsg" class="close-icon">x</span></div>
                    <div class="article-content-header">
                        <input v-model="article_info.title" class="article-input-title">
                    </div>
                    <div class="tool">
                        <a v-for="article_tag in article_info.tag" id="tool-tag">[[article_tag.name]]</a>
                        <span @click="showAddArtTagLi" v-show="addArticleTagIcon"  class="add-article-tag-icon" title="添加标签">+</span>

                        <div v-show="tagList" class="tag-box">
                            <span v-for="tag in articleTagList" >
                                <a @click="choseTag(tag)" id="add-tag" :class="{chosetag:tag.choseTagActive}">[[tag.name]]</a>
                            </span>
                            <a class="button-success pure-button" @click="addArticleTags">确定</a>
                        </div>

                        <ul style="display: inline-block;float: right;right: 20px" class="pure-menu-list">
                            <li @click="writeModelSwitch" id="tool-btn" class="pure-menu-item" title="返回"><a class="pure-menu-link"><i class="iconfont icon-write"></i></a></li>
                            <li v-show="postArticleBtn" @click="updateArticle" id="tool-btn" class="pure-menu-item" title="修改保存"><a href="#" class="pure-menu-link"><i class="iconfont icon-baocun"></i></a></li>
                            <li v-show="addNewArticleBtn" @click="addNewArticlePost" id="tool-btn" class="pure-menu-item" title="新建保存"><a class="pure-menu-link"><i class="iconfont icon-baocun"></i></a></li>
                            <li @click="deleteArticle" id="tool-btn" class="pure-menu-item" title="删除文章"><a href="#" class="pure-menu-link"><i class="iconfont icon-delete"></i></a></li>
                        </ul>

                    </div>
                    

                    <div class="textarea-container">

                        <textarea v-model="content" id="article-textarea" class="article-textarea" :style="{height: (getscrollHeight-180) + 'px'}">
                        </textarea>
                        
                    </div>
                </div>

        </div>

        <div id="show-page">
            <div class="article-content">
                <div class="article-content-header">
                    <div v-html="article_info.title" class="article-input-title" style="padding: 6px"></div>
                </div>

                <div v-html="Marked" :style="{height: (getscrollHeight-180) + 'px'}">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    vm = new Vue({
        el: '#app',
        data: {
            test: '123123',
            articles:[],
            tags:[],
            tagIcon: '>',
            article_info: '',
            scrollHeight:'',
            msgShow:false,
            allArticleActive:'',
            newTag:false,
            tagInput:false,
            tagName:'',
            msg: '',
            delTagIcon:false,
            tagList:false,
            articleTagList:[],
            postArticleBtn:false,
            addNewArticleBtn:false,
            addArticleTagIcon:true,
            content:'',
            writeModelShow:false,
            addTagList:[],
            leftTagListShow:false,
            deleteArticleTagIcon:false
        },
        delimiters: ["[[", "]]"],
        mounted(){
            this.getArticleList(),
            this.requestUser(),
            this.getTagFun()
        },
        computed:{
            getscrollHeight:function() {
                this.height = document.body.scrollHeight
                return document.body.scrollHeight
            },
            getscrollWidth:function() {
                this.width = document.body.scrollWidth
                return document.body.scrollWidth
            },
            Marked:function() {
               
                return marked(this.content)
            }
        },
        methods:{
            requestUser:function() {
              axios.get('/api/request_user/', {
                headers:{
                  Authorization: 'Token ' + Cookies.get('token')
                }
              }).then(function(response) {
                var app = document.querySelector('#app')
                app.setAttribute('style', 'display:')
              })
              .catch(function(error){
                window.location.href = "/#/login/"
              })
            },
            writeModelSwitch:function() {
                this.writeModelShow = !this.writeModelShow
            },                     
            logOut:function() {
                Cookies.remove('token');
                location.reload()   
            },
            getArticleList:function() {
                var self = this;
                axios.get('/api/articles_admin/').then(function(response){
                    self.articles = response.data;
                    self.allArticleActive = true;
                    for (var t in self.tags){
                      self.tags[t].tag_active = false
                    };
                    self.getArticleInfo(self.articles[0])
                })
                .catch(function(error){
                    // error
                })
            },
            // 显示某一文章
            getArticleInfo:function(article){
                var self = this;
                var id = article.id;
                self.postArticleBtn = true;
                self.addNewArticleBtn = false;
                for (var a in self.articles){
                    self.articles[a].article_active = false
                };
                axios.get('/api/article_admin/'+ id + '/').then(function(response){
                    self.article_info = response.data;
                    console.log(response.data)
                    article.article_active = true;
                    self.content = self.article_info.content;
                })
                .catch(function(error){

                })
            },
            // // get标签的函数模版
            getTagFun:function() {
                var self = this;
                axios.get('/api/tags_admin/').then(function(response){
                self.tags = response.data;
              })
            },
            // // 显示所有标签
            getTag:function() {
                var self = this;
              if (self.leftTagListShow == true){
                self.leftTagListShow = false
                self.tagIcon = '>';
                self.newTag = !self.newTag;
              }else{
                self.leftTagListShow = true;
                self.tagIcon = 'v';
                self.newTag = true;
              }
            },
            // 显示标签下的所有文章
            clickTag:function(tag) {
                var self = this;
                console.log(tag)
                for (var t in self.tags){
                  self.tags[t].tag_active = false
                }
                axios.get('/api/articles_admin/?format=json&tag='+tag.name).then(function(response){
                  self.articles = response.data.article_data;
                  self.allArticleActive = false;
                  tag.tag_active = !tag.tag_active;
                })
            },
            // 修改文章
            updateArticle:function() {
                var self = this;
                axios.put('/api/article_admin/'+self.article_info.id+'/',{
                    id:self.article_info.id,
                    title: self.article_info.title,
                    content: self.content
              }).then(function(response) {
                self.msg = '保存成功';
                self.msgShow = true;
                self.getArticleInfo(self.article_info);
                self.getArticleList()
              })
            },
            closeMsg:function() {
                this.msgShow = !this.msgShow
            },
            // 显示新建标签的input
            addTagBtn:function() {
                this.tagInput = !this.tagInput
            },
            // 新建标签
            postTag:function() {
                var self = this;
                axios.post('/api/tags_admin/?format=json', {
                    tag: self.tagName
                }).then(function(response){
                    self.msg = '标签创建成功';
                    self.msgShow = true;
                    self.getTagFun();
                    self.tagInput = false;
                    self.tagName=''
                })
                .catch(function(error){
                    self.msg = '标签已存在';
                    self.msgShow = true
                })
            },
            // 显示标签删除按钮
            delTagBtn:function() {
                this.delTagIcon = !this.delTagIcon
            },
            deleteTag:function(id) {
                var self = this;
                axios.delete('/api/tag/'+id+'/',{
                    id:id
                }).then(function(response) {
                    alert('delete it!!')
                    self.getTagFun()
                })
            },
            // 显示可添加标签的列表
            showAddArtTagLi:function() {
                var self = this;
                self.articleTagList = self.tags;
                // for (var t in self.articleTagList){
                //   self.articleTagList[t].choseTagActive = false
                // }
                console.log(self.articleTagList)
                self.tagList = !self.tagList;
            },
            // 给文章添加标签
            choseTag:function(add_tag) {
                var self = this;
                // 判断如果该tag是否已被选中
                var tagIndex = self.addTagList.indexOf(add_tag.id)
                if (tagIndex!=-1){
                    // 把已存在的tag删除
                    self.addTagList.splice(tagIndex, 1)
                    add_tag.choseTagActive = false;
                    console.log(self.addTagList)
                }else{
                    self.addTagList.push(add_tag.id);
                    add_tag.choseTagActive = true;
                    console.log(self.addTagList)
                }  
            },
            addArticleTags:function(){
                var self = this;
                console.log(self.addTagList)
                var article_id = self.article_info.id
                axios.post('/api/article_admin/'+article_id+'/',{
                    tags_id: self.addTagList
                    
                }).then(function(response){
                    self.getArticleInfo(self.article_info)
                })
                .catch(function(error){
                    self.msg = '标签须少于5个';
                    self.msgShow = true
                })
            },
            deleteArtTag:function (id){
                var self = this;
                var article_id = self.article_info.id;
                axios.post('/api/article_admin/'+article_id+'/', {
                    tag_id: id
                }).then(function(response){
                    self.getArticleInfo(self.article_info)
                })
            },
            addNewArticle:function() {
                var self = this;
                self.postArticleBtn = false;
                self.addNewArticleBtn = true;
                self.article_info = [];
                self.addArticleTagIcon = false;
                for (var a in self.articles){
                    self.articles[a].article_active = false
                };
            },
            addNewArticlePost:function() {
                var self = this;
                axios.post('/api/articles_admin/', {
                    title: self.article_info.title,
                    content: self.article_info.content
                }).then(function(response){
                    self.getArticleList();
                    self.addArticleTagIcon = true
                })
            },
            deleteArticle:function() {
                var self = this;
                var article_id = self.article_info.id
                axios.delete('/api/article_admin/'+article_id+'/').then(function(response) {
                    self.getArticleList()
                })
            }
        }
    })

</script>


</body>
</html>